<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.gdj.boot.board.BoardVO" alias="BoardVO"/>
  		<typeAlias type="com.gdj.boot.board.notice.NoticeVO" alias="NoticeVO"/>
  		<typeAlias type="com.gdj.boot.board.qna.QnaVO" alias="QnaVO"/>
  		<typeAlias type="com.gdj.boot.board.FileVO" alias="FileVO"/>
  		<typeAlias type="com.gdj.boot.util.Pager" alias="Pager"/>
  		<typeAlias type="com.gdj.boot.member.MemberVO" alias="MemberVO"/>
  		
  	</typeAliases>
  </configuration>