<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.gdj.boot.board.notice.NoticeDAO">
  
  	<sql id="search">
  		<where>
  		<choose>
  			<when test="kind == 'kind1'">BOARDHEAD</when>
  			<when test="kind == 'kind2'">BOARDCONTENTS</when>
  			<otherwise>BOARDWRITER</otherwise>
  		</choose>
  		LIKE CONCAT('%',#{search},'%')
  		</where>
  	</sql>
  	
  	<select id="getTotalCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(BOARDNUM) FROM NOTICE
  		<include refid="search"></include>
  	</select>
  	
  	<select id="getList" parameterType="Pager" resultType="NoticeVO">
  		SELECT * FROM NOTICE
  		<include refid="search"></include>
  		ORDER BY BOARDNUM DESC
  		LIMIT #{startIndex}, #{perPage}
  	</select>
  	
  	<insert id="add" parameterType="BoardVO">
  		INSERT INTO NOTICE
  		(BOARDWRITER, BOARDHEAD, BOARDDATE, BOARDHIT, BOARDCONTENTS)
  		VALUES
  		(#{boardWriter}, #{boardHead}, now(), 0, #{boardContents})
  	</insert>
  </mapper>